<%= form_for @pagina,url: @url_path, :html => {:class => "form-horizontal"}  do | f | %>
    <fieldset>

      <div class="form-group">
        <label class="col-sm-3 control-label"><%= f.label t('LBL004') %></label>
        <div class="col-sm-6">
          <%= f.text_field :title, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label"><%= f.label t('LBL005') %></label>
        <div class="col-sm-6">
          <%= f.text_field :description, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label"><%= f.label t('LBL006') %></label>
        <div class="col-sm-6">
          <%= f.text_field :body, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label"><%= f.label t('LBL007') %></label>
        <div class="col-sm-6">
          <%= f.text_field :author, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
          <%= f.submit t('LBL008'), :class => "btn btn-primary", :id => 'btn_submit', :remote => true %>
        </div>
      </div>

    </fieldset>
<% end %>
